body{

    background-color: burlywood;
    text-align: center;
}

#Title h1{
    font-size: 6vh; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 2vh;
}

#Title p{
    font-size: 2vh;
    font-weight: bold;
}

#Title{
    padding-bottom: 3vh;
}


#Potato{
    padding-bottom: 6vh;
}

#Potato #POT_IMG{
    z-index: 0;
    height: 30vh;
    width: 30vh;
}

#Shrink_Icon{
    z-index: 1;
    position:absolute;
    height: 3vh;
    width: 5vh;
    
}


#Buttons{
    padding-bottom: 4vh;
}

#Buttons input{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    margin: 5px;
    height: 5vh;
}

#Word{
    padding-bottom: 0vh;
}

#Word p{
    font-size: 6vh;
    color: black;
}


#Interface{
    display: flex;
    justify-content: center;
    padding-bottom: 4vh;
}

#Interface input{
    height: 5vh;
    width: 8vh;
}

#Interface #submit{

    background-color: chartreuse;
    margin-left: 2px;
    font-weight: bold;
}

#Interface #word_input{

    font-size: 3vh;
}

#Guessed{
    font-size: 2vh;
    color: black;
    padding-bottom: 4vh;
}

#End_Message #End_Text{
    font-size: 4vh;
}


#Game_End{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    margin: 5px;
    height: 5vh;
}